<ion-content ng-controller="PopupCtrl" scroll="false" style="text-align:center;">
     <div class="list list-inset">
          <label class="item item-input">
               <input id="inputId" type="text" placeholder="Search">
          </label>
     </div>
     
     <div id="buttonReplace">
          <button ng-click="execute()" class="button button-icon icon ion-plus-circled"></button>
          <!--<img src="img/loading.gif" width="40px"/>-->
     <div>
</ion-content>
