<ion-header-bar class="bar-stable bar-dark">
	     <h1 class="title">Glimlag</h1>
</ion-header-bar>
<style>
     .active {
          border : 2px black solid;
          border-radius:30px;
     }    
</style>
<ion-content id="connect">
     
     <div id="name">
          <input type="text" placeholder="name">
     </div>
     <br>
     <hr>
     <br>     
     <div id="gender" style="text-align:center;">
              <img id="left" class="active" src="img/maleV2.gif" style="margin-right:50px"/>
              <img id="right" src="img/femaleV2.gif"/>
     </div>
     <br>
     <hr>
     <br>
     <div id="age">
     
          <img src="img/babyV2.gif" width="50px"/>
          <input type="range" name="rangeInput" min="5" max="100" oninput="updateTextInput(this.value);" value="20" style="margin-right:20px;margin-left:20px;"> 
          <img src="img/oldmanV2.gif" width="50px"/>
          <div id="textInput"> 20 </div>
     </div>
     <br>
    <hr>
    <br>
    <div>
          <button ng-click="goNext()" class="button button-positive button-block" style="width:80%;margin-right:auto;margin-left:auto;">Register</button>
    </div>
    
    <script>
     function updateTextInput(val) {
      $('#textInput').text(val); 
    }
    
    $('#gender #left').click(function () {
          $('#gender #left').addClass('active');
          $('#gender #right').removeClass('active');
    });
    $('#gender #right').click(function () {
          $('#gender #right').addClass('active');
          $('#gender #left').removeClass('active');
    });
    </script>
</ion-content>
