<ion-header-bar id="header" class="bar-stable bar-dark">
     <button ui-sref="friends" class="button button-icon icon ion-chevron-left"></button>
     <h1 class="title">{{friend.name}}</h1>
</ion-header-bar>

<ion-content id="chat" class="undeployed-content" style="" ng-init="init()">
	<div ng-repeat="message in friend.messages">
			<p class="bubble {{ user.id === message.id ? 'right' : 'left' }}">
		     	<img src="img/{{ message.content}}" style="width:190px" alt="happy" />
		     	<i class="ion-earth"></i>
		<a href="#/map/{{friend.id}}/{{message.origin[0]}}/{{message.origin[1]}}" class="noULink">
		 		<span class="origin">{{parsePlace(message.origin)}}</span>
     	</a>
     		</p>
	</div>
</ion-content>

<ion-footer-bar id="test" align-title="left" class="undeployed-footer bar-positive" style="padding:none;">
<div style="display:block; height:44px" ng-click="menuOpenClose()">
  <div class="buttons" style="float:right; padding-top:5px;">
    <button id="chevron" class="button button-icon icon ion-chevron-up"></button>
  </div>
</div>
  <div id="smiley" style="background-color:white; height:156px;">
     <div class="row" style="text-align:center">
          <div ng-click="sendMsg('danger.png')" class="col"><img src="img/danger.png" width="50px"/></div>
          <div ng-click="sendMsg('epidemic.png')" class="col"><img src="img/epidemic.png" width="50px"/></div>
          <div ng-click="sendMsg('happy.png')" class="col"><img src="img/happy.png" width="50px"/></div>
          <div ng-click="sendMsg('healthy.png')" class="col"><img src="img/healthy.png" width="50px"/></div>
          <div ng-click="sendMsg('in_danger.png')" class="col"><img src="img/in_danger.png" width="50px"/></div>
     </div>
     <div class="row" style="text-align:center">
          <div ng-click="sendMsg('sad.png')" class="col"><img src="img/sad.png" width="50px"/></div>
          <div ng-click="sendMsg('safe.png')" class="col"><img src="img/safe.png" width="50px"/></div>
          <div ng-click="sendMsg('unhealthy.png')" class="col"><img src="img/unhealthy.png" width="50px"/></div>
          <div ng-click="sendMsg('war_zone.png')" class="col"><img src="img/war_zone.png" width="50px"/></div>
          <div ng-click="sendMsg('wear_mask.png')" class="col"><img src="img/wear_mask.png" width="50px"/></div>
     </div>
  </div>
  
</ion-footer-bar>
