<ion-header-bar class="bar-stable bar-dark">
	     <h1 class="title">Glimlag</h1>
	     <button ng-click="showPopupAdd()" class="button button-icon icon ion-person-add"></button>
</ion-header-bar>

<ion-content id="friends">
<ion-list>
 <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/friend/{{friend.id}}">
   {{friend.name}}
 </ion-item>
</ion-list>
</ion-content>
