<ion-header-bar class="bar-stable bar-dark">
     <a href="#/friend/{{id}}" class="button button-icon icon ion-chevron-left"></a>
	     <h1 class="title">Map<span id="lat1" style="display:none;">{{lat}}</span><span id="lon1" style="display:none;">{{lon}}</span></h1>
</ion-header-bar>
<ion-content id="maps">
<div id='myMap' style="position:absolute; width:100%; height:120%;"></div>
</ion-content>


<style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>

<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=[fr-FR]"></script>
<script type="text/javascript">
var map = null;  
/**
 * NOTE : À cause de contraintes, ce code js n'est pas fusionnable avec AngularJS.
 * La communication entre les paramètres du contrôleur et ce code se fait au travers d'inspection du DOM, pour récupérer les coordonnées une fois qu'AngularJS les a ingectées.
 */
var getMap = function(){
   var lat = document.querySelector('#lat1').innerHTML;
   var lon = document.querySelector('#lon1').innerHTML;
   console.log("lat:"+lat+";lon:"+lon+";")
   var map = new Microsoft.Maps.Map(document.getElementById("myMap"),{         
      credentials: "AqG3w6P1TJrk-dsrlyLN3tHdfHYTjsQbz9apK3cP_FPJtpaHcWokIRt6PFDiCPQH",

      center: new Microsoft.Maps.Location(lat,lon),
      zoom: 6
   });
   var center = map.getCenter();
   var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(lat,lon), {text:1});
   map.entities.push(pin);
};
var startMap = function(){
   console.log("we start");
   try{
      if(Microsoft !== undefined){
         start2();
      }else{
         window.setTimeout(startMap, 100);
      }
   }catch(err){
      window.setTimeout(startMap, 100);
   }
}
var start2 = function(){
   var lat = document.querySelector('#lat1').innerHTML;
   if(lat == "{{lat}}"){
      window.setTimeout(start2, 100);
   }else{
      getMap();
   }
}
startMap();
</script>
