ion-nav-view {
     background-color:white;
}

#friends {
     background-color: white;
}

#chat {
     background-color: white;
}
#maps .scroll{
	transform: none !important;
}

/* Chat view: bubbles*/
/* TODO adapt to the pictures used.*/
p.bubble
{
	position: relative;
	width: 200px;
	height: 240px;
	text-align: center;
	/*line-height: 100px;*/
	background-color: #fff;
	border: 4px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	word-wrap: break-word;
	margin-bottom:20px;
}
.right{
	margin:10px 10px 10px auto;
}
.left{
	margin:10px auto 10px 10px;
}
p.bubble.left:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 20px;
	top: 234px; /* top : height - 6*/
	border: 10px solid;
	border-color: #666 transparent transparent #666;
}
p.bubble.left:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 24px;
	top: 232px; /* top : height - x , x found by trial and errors*/
	border: 6px solid;
	border-color: #FFF transparent transparent #FFF;
}
p.bubble.right:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: auto;
	right: 20px;
	top: 234px; /* top : height - 6*/
	border: 10px solid;
	border-color: #666 #666 transparent transparent;
}
p.bubble.right:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 25px;
	top: 232px; /* top : height - x , x found by trial and errors*/
	border: 5px solid;
	border-color: #FFF #FFF transparent transparent;
}
.origin{
	display:block;
}
p.bubble.left i{
	float:left;
	margin: 0 10px 0 15px;
}
p.bubble.right i{
	float:right;
	margin: 0 10px 0 10px;
}
p.bubble.left .origin{
	text-align:left;
}
p.bubble.right .origin{
	text-align:right;
}

#test {
     display:block;
}

#chat #content img {
     display:block;
}

.bar {
     padding:0px;
}

.button-icon {
     padding:5px;
}

.popup-container .popup {
     border:5px rgb(239, 78, 58) solid;
     border-radius:20px;
     display:block;
     max-width:none;
     max-height:none;
}

.popup .has-header {
     top:0px;
}

.popup-head, .popup-buttons {
     display:none;
}

.popup-body {
     display:block;
     width:100%;
     height:100%;
     overflow:visible;
     padding-left:0px;
     padding-right:0px;
     padding-bottom:0px;
}

.popup-body .scroll-content {
     display:block;
     position:relative;
}

.popup-container .popup .row {
     padding:0px;
}

.popup-body h2 {
     color:rgb(239, 78, 58);
}

.popup-body .ng-binding {
     color:rgb(74, 135, 238);
     font-size:20px;
}

.scroll > div:last-child {
     bottom:10px;
}




#chat {
     margin-bottom:0px;
}


#test {
     height:44px;
     transition: height 0.5s ease;
}

.noULink{
	text-decoration: none;
	color:inherit;
}

/************************** CONNECT PAGE ************************/

#connect #name {
     border: 2px #444444 solid;
     border-radius:1000px;
     margin-top:20px;
     background-color:transparent!important;
     width:80%;
     padding-top:5px;
     margin-left:auto;
     margin-right:auto;
}
#connect #name input{
     margin-left:20px;
     background-color:transparent!important;
     font-size:18px;
}

#connect #age {
     text-align:center;
}

#connect #age #textInput {
     border-radius:20000px;
     font-size:20px;
}
